:root {
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --sub-font-color: #2F303A;
    --main-blue: #2196F3;
    --main-background-color: #fff;
    --secondary-background-color: #f5f4fa;
}

body {
    color: var(--main-font-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    font-size: 14px;
}

.list{
    list-style: none;
    padding-left: 0;
}

.header-font {
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: var(--main-font-color);
}

.link:hover {
    color: var(--main-blue);
}

.link:focus {
    color: var(--main-blue);
}

.mail-tel {
  color: var(--secondary-font-color);
}

.header {
    /*padding: 0px 215px 32px 215px;*/
    line-height: 1.14;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    color: var(--main-dark);
    padding-left: 0;
}

.logo-top {
    color: #000;
}

.accent {
    color: var(--main-blue);
}

.hero {
    height: 600px;
    width: 1600px;
    background-color: var(--sub-font-color);
    color: var(--main-background-color);
}

.hero-title {
    height: 120px;
    padding-top: 200px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
}

button {
    font-family: inherit;
}

.order-button {
    height: 50px;
    width: 200px;
    color: var(--main-background-color);
    background-color: var(--main-blue);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    cursor: pointer;
    margin-left: 700px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.peculiarity-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.peculiarity-text {
    padding-top: 0;
    line-height: 1.78;
    color: var(--secondary-font-color);
}

.what-we-do {
    text-align: center;
    padding-top: 0;
    margin-top: 94px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}

.our-team {
    background-color: var(--secondary-background-color);
    text-align: center;
    margin-top: 94px;
    padding-top: 94px;
}

.team-member {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
}

.team-member-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-font-color);
}

.button-portfolio {
    background-color: var(--secondary-background-color);
    height: 38px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.375;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
}

.button-portfolio:hover {
   background-color: var(--main-blue);
   color: var(--main-background-color);
}

.button-portfolio:focus {
    background-color: var(--main-blue);
    color: var(--main-background-color);
}

.img-title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    padding: 20px 24px 4px;
}

.img-text {
    font-size: 16px;
    line-height: 1.875;
    padding: 4px 24px 20px;
    color: var(--secondary-font-color);
}

.footer {
    background-color: var(--sub-font-color);
    /*padding-left: 215px;*/
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--main-background-color); 
}

.contacts {
    margin-top: 20px;
    margin-bottom: 60px;
}

.contacts-down {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}

.address {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    line-height: 1.5;   
}