:root {
    --main-font-color: #212121;
    --secondary-font-color: #757575;
    --sub-font-color: #2F303A;
    --main-blue: #2196F3;
    --main-background-color: #fff;
    --secondary-background-color: #f5f4fa;
}

body {
    color: var(--main-font-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    font-size: 14px;
}

.list{
    list-style: none;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: calc(3*(1em/50)/2);
    color: var(--main-dark);
}

.logo-top {
    color: #000;
}

.link {
    text-decoration: none;
    color: var(--main-font-color);
    line-height: 1.14;
    letter-spacing: calc(1em/50);
    font-weight: 500;
}

.accent {
    color: var(--main-blue);
}

.contacts-top {
    color: var(--secondary-font-color);
}

.link:hover {
    color: var(--main-blue);
}

.link:focus {
    color: var(--main-blue);
}

.hero {
    background-color: var(--sub-font-color);
    color: var(--main-background-color);
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: calc(3*(1em/50));
    text-transform: uppercase;
    text-align: center;
}

.order-button {
    color: var(--main-background-color);
    background-color: var(--main-blue);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: calc(3*(1em/50));
    cursor: pointer;
}

/*.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}*/

.peculiarity-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: calc(3*(1em/50)/2);
}

.peculiarity-text {
    color: var(--secondary-font-color);
    line-height: 1.78;
    letter-spacing: calc(3*(1em/50)/2);
}

.what-we-do-title, .our-team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: calc(3*(1em/50)/2);
}

.our-team {
    background-color: var(--secondary-background-color);
    text-align: center;
}

.team-member {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: calc(3*(1em/50)/2);
}

.team-member-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-font-color);
    letter-spacing: calc(3*(1em/50)/2);
}

.button-portfolio {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
}

.button-portfolio:hover {
   background-color: var(--main-blue);
   color: var(--main-background-color);
}

.button-portfolio:focus {
    background-color: var(--main-blue);
    color: var(--main-background-color);
}

.img-title {
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
}

.img-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--secondary-font-color);
}

.footer {
    background-color: var(--sub-font-color);
    color: var(--main-background-color); 
}

.contacts-down {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.address {
    color: inherit;
}

.contacts-down:hover {
    color: var(--main-blue);
}

.contacts-down:focus {
    color: var(--main-blue);
}
